.env
.env.worker
.env.*
__pycache__
/Backup
/logs

tempvoice_interface.json
*.json
install_windows_service.py
*.db
*__pycache__
*pyc
*sqlite3-wal
*sqlite3
*sqlite3-shm
*env*
*.env*
*.json
*.db-shm
*.db-wal
*.db